body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  margin: 0px auto;
  width: 980px;
  height: 60px;
  background: #4C5A65;
  color: #fff;
  line-height: 60px;
}
header .hard {
  margin-left: 20px;
  width: 100px;
  height: 60px;
}
.details {
  margin: 0 auto;
  width: 980px;
  height: 410px;
  background: #677075;
}
.details .details1 {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  background: #fff;
}
.details .details1 .tickets {
  width: 500px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 25px;
}
.details .details1 .list {
  margin: 0 auto;
  padding-left: 20px;
  width: 300px;
  height: 300px;
}
.details .details1 .list .list1 {
  width: 300px;
  height: 50px;
}
.details .details1 .list .list1 .li-left {
  float: right;
}
.details .details1 .list .list1 .data {
  float: right;
  width: 150px;
  height: 20px;
}
.details .details1 .list .list1 input {
  margin-left: 80px;
  width: 50px;
  height: 20px;
}
.details .details1 .list .bottom-button {
  margin: 0 auto;
  width: 130px;
  height: 50px;
  background: #FF9800;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
}
