body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  margin: 0 auto;
  width: 980px;
  height: 100px;
}
header .poto {
  float: left;
  width: 220px;
  height: 100px;
  margin-left: 110px;
}
header .poto img {
  width: 100%;
  height: 100%;
}
header .welcome {
  float: left;
  width: 300px;
  height: 100px;
  line-height: 100px;
}
header .welcome span {
  font-size: 20px;
}
main {
  margin: 0 auto;
  width: 980px;
  height: 500px;
}
main .box {
  margin: 100px auto;
  width: 540px;
  height: 480px;
}
main .box .text {
  width: 540px;
  height: 50px;
}
main .box .text span {
  display: inline-block;
  width: 130px;
  text-align: center;
}
main .box .text input {
  height: 30px;
  font-size: 20px;
}
main .box .text .error {
  float: right;
  color: red;
  display: none;
}
main .box .bottom {
  margin: 0 auto;
  width: 150px;
  height: 60px;
  background: #d74d12;
  color: #fff;
  text-align: center;
  line-height: 60px;
}
.footer {
  min-width: 1200px;
  background: #FF9800;
  text-align: center;
  height: 116px;
  color: #101010;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer .copyright {
  position: relative;
  margin: 0 auto;
  padding-left: 220px;
  line-height: 24px;
  padding-top: 10px;
}
.footer .copyright img {
  position: absolute;
  width: 133px;
  height: 44px;
  left: 30px;
  top: 30px;
}
.footer .wrap {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .footer {
    min-width: 980px;
    background: #FF9800;
    text-align: center;
    height: 116px;
    color: #101010;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer .copyright {
    position: relative;
    margin: 0 auto;
    padding-left: 220px;
    line-height: 24px;
    padding-top: 10px;
  }
  .footer .copyright img {
    position: absolute;
    width: 133px;
    height: 44px;
    left: 30px;
    top: 30px;
  }
  .footer .wrap {
    width: 980px;
    margin: auto;
  }
}
