body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
/* 酒店特色 */
.t_jd_top {
  width: 980px;
  margin: 15px auto;
  overflow: hidden;
}
.t_jd_top .jd_top_1 {
  font-size: 18px;
  margin: 15px 0;
}
.t_jd_top .jd_top_2 {
  float: left;
  overflow: hidden;
  margin-left: 50px;
}
.t_jd_top .jd_top_2 .jd_top_2_1 {
  float: left;
  overflow: hidden;
}
.t_jd_top .jd_top_2 .jd_top_2_1 i {
  font-size: 48px;
  margin-right: 5px;
}
.t_jd_top .jd_top_2 .jd_top_2_2 {
  float: left;
  overflow: hidden;
}
/* 酒店样式 */
nav {
  width: 980px;
  margin: 20px auto;
}
nav .nav_top {
  width: 980px;
  text-align: center;
}
nav #nav_title {
  width: 980px;
}
nav #nav_title #nav_title_1 {
  overflow: hidden;
  cursor: pointer;
}
nav #nav_title #nav_title_1 div {
  float: left;
  margin: 15px 48px;
  text-align: center;
}
nav #nav_title #nav_title_1 div.active {
  color: #ff9800;
}
nav #nav_title #nav_title_2 img {
  width: 250px;
  margin: 20px 38px;
}
/* 酒店样式二 */
.t_2nav {
  width: 980px;
  margin: 20px auto;
}
.t_2nav .nav_top {
  width: 980px;
  text-align: center;
}
.t_2nav #t_2nav_title {
  width: 980px;
}
.t_2nav #t_2nav_title #t_2nav_title_1 {
  overflow: hidden;
  cursor: pointer;
}
.t_2nav #t_2nav_title #t_2nav_title_1 div {
  float: left;
  margin: 15px 64px;
  text-align: center;
}
.t_2nav #t_2nav_title #t_2nav_title_1 div.active {
  color: #ff9800;
}
.t_2nav #t_2nav_title #t_2nav_title_2 img {
  width: 200px;
  margin: 20px 22px;
}
