body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.main {
  overflow: hidden;
  margin-bottom: 50px;
}
.box {
  overflow: hidden;
  margin: 35px 20px;
}
.box .box-img {
  float: left;
}
.box .box-img img {
  width: 300px;
  height: 175px;
}
.box .box-nr {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
.box h1 {
  margin-bottom: 10px;
  font-size: 20px;
}
.box .jieshao {
  margin-bottom: 5px;
  color: #999999;
  font-size: 15px;
}
.box .jiage {
  margin-bottom: 5px;
  color: #FF9800;
  font-size: 25px;
}
.box .goumai {
  margin-top: 20px;
  border-radius: 5px;
  background: #FF9800;
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
