body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial;
}
body {
  font-size: 0.24rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 0.6rem;
  border-bottom: 0.01rem solid #bbbbbb;
}
#header span {
  width: 1.2rem;
  height: 100%;
  margin-left: 0.1rem;
  line-height: 0.6rem;
  font-size: 0.24rem;
}
#header span:first-child {
  font-size: 0.24rem;
  color: #BBBBBB;
}
#header span:nth-child(2) {
  text-align: center;
}
#centent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 0.01rem solid #bbbbbb;
  width: 100%;
  height: 8rem;
}
#centent .details {
  width: 7rem;
  height: 100%;
}
#centent .details .details_top {
  width: 100%;
  height: 0.6rem;
}
#centent .details .details_top .hot {
  width: 1.5rem;
  height: 0.5rem;
  line-height: 0.6rem;
  text-align: left;
  border-bottom: 0.01rem solid #bbbbbb;
}
#centent .details .details_cen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.1rem;
  width: 100%;
  height: 7rem;
}
#centent .details .flight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3.2rem;
}
.flight .ticket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.8rem;
  height: 100%;
}
.flight .ticket .picture {
  width: 100%;
  height: 1.5rem;
}
.flight .ticket .picture img {
  width: 100%;
  height: 1.5rem;
}
.flight .ticket .information {
  width: 100%;
  height: 1.5rem;
  border: 0.01rem solid #bbbbbb;
}
.flight .ticket .information .information_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 0.5rem;
}
.flight .ticket .information .information_top span {
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.24rem;
}
.flight .ticket .information .information_cen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 0.5rem;
}
.flight .ticket .information .information_cen span {
  font-family: SourceHanSansSC-regular;
  color: #9F9D9D;
  font-size: 0.24rem;
  line-height: 0.5rem;
}
.flight .ticket .information .information_fot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 0.4rem;
}
.flight .ticket .information .information_fot span {
  margin-right: 0.05rem;
  font-size: 0.24rem;
  line-height: 0.4rem;
  text-align: center;
}
.flight .ticket .information .information_fot span:first-child {
  width: 0.6rem;
  height: 0.4rem;
  color: #A6A2A2;
  border: 0.01rem solid #BBBBBB;
}
.flight .ticket .information .information_fot span:nth-child(2) {
  font-size: 0.15rem;
  color: red;
}
#footer {
  border-bottom: 0.01rem solid #bbbbbb;
  /* 行程 */
}
#footer .trip {
  width: 100%;
  height: 3.5rem;
  border-bottom: 0.01rem solid #bbbbbb;
}
#footer .trip .travel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0.7rem;
}
#footer .trip .travel input {
  margin-left: 0.2rem;
  height: 0.4rem;
  color: #888888;
  border-radius: 0.12rem;
  border: 0.01rem solid #BBBBBB;
  text-align: center;
  font-family: Microsoft Yahei;
}
#footer .trip .travel .Departure_date {
  margin-right: 0.2rem;
}
#footer .trip .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0.7rem;
}
#footer .trip .destination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 2.1rem;
}
#footer .trip .destination .group {
  width: 3.5rem;
  height: 2rem;
}
#footer .trip .destination .group img {
  width: 100%;
  height: 100%;
}
#footer .trip .destination .city {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 3.2rem;
  height: 1.8rem;
}
#footer .trip .destination .city input {
  width: 2.3rem;
  height: 0.4rem;
  color: #888888;
  border-radius: 0.12rem;
  border: 0.01rem solid #BBBBBB;
  text-align: center;
  font-family: Microsoft Yahei;
}
#footer .trip .destination .city .queding {
  display: flex;
  justify-content: flex-end;
  width: 3rem;
  height: 0.4rem;
  margin-top: 0.2rem;
}
#footer .trip .destination .city .aaa {
  width: 1rem;
  height: 0.4rem;
  background-color: #FF9800;
  border: #FF9800;
  color: #ffffff;
  text-align: center;
  border-radius: 0.1rem;
}
